@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Inter";
  src: url("../../public/fonts/Inter-VariableFont_slnt\,wght.ttf");
}
* {
  font-family: "Inter" !important;
}

.btn {
  @apply pt-4 pb-4 pl-12 pr-12 text-[32px] font-semibold;
}
