@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Inter";
  src: url("../../public/fonts/Inter-VariableFont_slnt\,wght.ttf");
}
* {
  font-family: "Inter" !important;
}
