@font-face {
  font-family: "Inter", monospace;
  src: url(./assets/fonts/Inter-VariableFont_slnt\wght.ttf);
}

* {
  font-family: "Inter" sans sans-serif;
  /*user-select: none;*/
}

.input {
  @apply border-4 border-black rounded-md p-3 placeholder:text-2xl placeholder:font-semibold;
}

.file-input {
  @apply border-4 border-black rounded-md pt-3 pb-3 bg-gray cursor-pointer hover:bg-white duration-100;
}

.btn {
  @apply bg-black pl-10 pr-10 pt-2 pb-2 rounded-xl font-semibold text-white;
}

.search-inp {
  @apply bg-gray rounded-full pl-6 pt-2 pb-2 border-2 border-[#00000037] placeholder:text-light !text-[20px];
}
